name: Release Obsidian plugin

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v4
      - name: Lint
        id: lint
        run: |
          yarn install
          yarn lint
