name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: volta-cli/action@v4
      - uses: actions/setup-node@v6
        with:
          cache: "yarn"
      - run: yarn install

      - name: Build plugin
        run: yarn build

      # Recommended Release Workflow
      # https://docs.obsidian.md/Plugins/Releasing/Release+your+plugin+with+GitHub+Actions
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"

          gh release create "$tag" \
            --title="$tag" \
            main.js manifest.json styles.css
