name: Verify

on:
  push:

jobs:
  formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: volta-cli/action@v4
      - uses: actions/setup-node@v6
        with:
          cache: "yarn"
      - run: yarn install

      - run: yarn format --check

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: volta-cli/action@v4
      - uses: actions/setup-node@v6
        with:
          cache: "yarn"
      - run: yarn install

      - run: yarn test
